.input {
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.15rem 0.15rem 0.15rem var(--main-dk-grey-color);
  color: var(--main-dark-blue-color);
  outline: none;
  padding: 1rem 1.5rem;
}

.input,
.input::placeholder {
  font-size: 1.4rem;
  font-weight: 400;
}
