.application,
.application__inner {
  height: 100%;
  width: 100%;
}

.application__inner {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 5rem auto;
  grid-template-areas:
    'a h h h'
    'a m m m'
    'a m m m';

}

.application__header {
  grid-area: h;
}

.application__aside {
  grid-area: a;
}

.application__main {
  grid-area: m;
}

@media screen and (max-width: 1024px) {
  .application__inner {
    grid-template-rows: 5rem 5rem 1fr;
    grid-template-areas:
      'a a a'
      'h h h'
      'm m m';
  }
}
