.aside {
  background-color: var(--main-dk-grey-color);
  border-right: 0.5rem solid var(--main-white-color);
}

.aside__inner {
  padding: 3rem 1rem;
}

.nav {
  margin-top: 4.75rem;
}

.nav__item {
  align-items: center;
  display: flex;
  text-align: center;
}

.nav__item:nth-of-type(2) {
  margin-top: 1.5rem;
}

.nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav__link {
  transition: 0.3s;
}

.nav__icon {
  font-size: 1.6rem;
  margin-left: 1rem;
}

.nav__link {
  color: var(--main-white-color);
  font-size: 1.5rem;
  font-weight: 300;
}

.nav__link:hover {
  color: var(--main-dark-blue-color);
}

.nav__link_active {
  color: var(--main-dark-blue-color) !important;
}

.nav__icon_active {
  color: var(--main-purple-color) !important;
}
